@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

/* This will style the WalletConnect button */
.wm-btn {
  background-color: #005bb8;
  color: #b61111;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* This will style the WalletConnect button on hover */
.wm-btn:hover {
  background-color: #004497;
}


.image-container {
  position: relative;
  perspective: 1000px;

}

.rotate-away {
  /* transform-style: preserve-3d; */
  transform: rotateY(-45deg) translateZ(-30px);
}

.rotate-away2 {
  transform-style: preserve-3d;
  transform: rotateY(45deg) translateZ(15px);
}

/* .gradient-overlay {
  position: absolute;
  margin-top: 24%;
  top: 0;
  left: 0;
  width: 100%;
  height: 68%;
  opacity: 20%;
  background: linear-gradient(to left, transparent, white);
  transform: rotateY(-50deg) translateZ(-50px);
  mix-blend-mode: difference;
} */

.gradient-overlay2 {
  position: absolute;
  margin-top: 1%;
  margin-bottom: 80%;
  margin-right: 100px;
  top: 0.5;
  left: 2;
  width: 100%;
  height: 100%;
  opacity: 20%;
  background: linear-gradient(to left, transparent, white);
  transform: rotateY(-59deg) translateZ(-190px) rotateX(-60deg) ;
  mix-blend-mode: difference;
}

.shadow2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
  mix-blend-mode: multiply;
}

.tweetBtn {
  position: relative;
  height: 20px;
  box-sizing: border-box;
  padding: 1px 12px 1px 12px;
  background-color: #1d9bf0;
  color: #fff;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
}

.tweetBtn i {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: transparent 0 0 no-repeat;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}

@layer components {
  /* Global */
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans;
  }
  h1 {
    @apply text-5xl font-bold text-white;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-3xl font-bold;
  }
  h4 {
    @apply text-2xl font-bold;
  }
  h5 {
    @apply text-xl font-bold;
  }
  h6 {
    @apply text-lg font-bold;
  }
  a:hover {
    @apply underline;
  }
  .full-screen {
    @apply w-screen min-h-screen;
    max-width: 100%;
  }
  .container-center {
    @apply container mx-auto;
  }
  .container-pad-x {
    @apply md:px-10 xl:px-40;
  }
  .pad {
    @apply p-2;
  }
  .pad-t {
    @apply pt-2;
  }
  .pad-b {
    @apply pb-2;
  }
  .pad-x {
    @apply px-2;
  }
  .pad-y {
    @apply py-2;
  }
  .debug {
    @apply border border-red-500 bg-green-100;
  }
  .btn {
    @apply text-lg transition duration-500 ease-in-out bg-green-400 text-black hover:text-white font-bold px-8 py-2 rounded-md focus:outline-none focus:ring transform hover:-translate-y-1 hover:scale-110;
  }
  .btn-icon {
    @apply focus:outline-none border-none hover:bg-gray-400 hover:bg-opacity-25 p-2 rounded-full inline-flex items-center;
  }
  /* .bg-brand {
    @apply bg-cover bg-no-repeat bg-top;
    background-image: linear-gradient(
        rgba(18, 26, 46, 0.8),
        rgba(18, 26, 46, 0.8)
      ),
      url(/public/bg.jpg);
  } */

  .bgcolour {
    /* @apply bg-scroll from-black via-polygon-purple to-white  bg-gradient-120; */
    @apply bg-scroll from-black via-black to-polygon-purple  bg-gradient-120;
  }  

  .active{    
    @apply text-red-500
  }

 

  @layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  :root{
    --width: 100%;
    --height: 100%;
    --border-width: 200px;
    --border-height: 200px;
  }
  
  html,body{
    background:radial-gradient(mistyrose,pink);
    height:100%;
    width:100%;
    position:relative;
    overflow:hidden;
  }
  
  .gallery{
    position:relative;
    height:100%;
    width:100%;
  }
  
  .gallery:after{
    content:'';
  }
  
  img{
    width:var(--width);
    height:var(--height);
  }
  
  .clipped-border{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    padding:5px;
    background:linear-gradient(grey,lightgrey);
    width:var(--border-width);
    height:var(--border-height);
    max-height:250px;
    max-width:250px;
    height: var(--height);
    width:var(--width);
    transition:transform 0.2s;
    position:absolute;
    cursor:pointer;
  }
  
  .clipped-border:before{
    content:'';
    position:absolute;
    opacity:0.5;
    width:350px;
    height:70px;
    background:white;
    top:0;
    left:0;
    z-index:1;
    transform:rotate(45deg);
    transition:transform 0.5s;
  }
  
  .clipped-border:hover:before{
    transform: translate(-100px,400%) rotate(45deg);
    transition:transform 0.5s;
  }
  
  .clipped-border:nth-child(2){
    top:196px;
    left:118px;
  }
  
  .clipped-border:nth-child(3){
    top:0;
    left:235px;
  }
  
  .clipped-border:nth-child(4){
    top:196px;
    left:353px;
  }
  
  .clipped-border:nth-child(5){
    top:0;
    left:470px;
  }
  
  #clipped {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  .clipped-border:hover{
    transform:scale(1.2);
    transition:transform 0.2s;
    z-index:10;
  }

  /* .shadow{
    position: absolute;
    top: 270px;
    left: 70px;
    width: 300px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(#805d78,rgba(0,0,0,0) 70%);
  } */
  
  @media screen and (min-width:375px)and (max-width:499px) {
    .clipped-border{
      width:100px;
      height:100px;
    }
    
    .clipped-border:nth-child(2){
      top:0;
      left:100px;
    }
    
    .clipped-border:nth-child(3){
      left:200px;
    }
    
    .clipped-border:nth-child(4){
      top:82px;
      left:50px;
    }
    
    .clipped-border:nth-child(5){
      top:82px;
      left:150px;
    }

    /* .shadow{
      position: absolute;
      top: 190px;
      left: 55px;
      width: 200px;
      height: 15px;
      border-radius: 50%;
      background: radial-gradient(#805d78,rgba(0,0,0,0) 70%);
    } */
  }

  @media screen and (max-width:800px) and (min-width:500px ){
    .clipped-border{
      width:150px;
      height:150px;
    }
    
    .clipped-border:nth-child(2){
      top:0;
      left:150px;
    }
    
    .clipped-border:nth-child(3){
      left:300px;
    }
    
    .clipped-border:nth-child(4){
      top:115px;
      left:75px;
    }
    
    .clipped-border:nth-child(5){
      top:115px;
      left:225px;
    }

    /* .shadow{
      position: absolute;
      top: 450px;
      left: 100px;
      width: 500px;
      height: 40px;
      border-radius: 50%;
      background: radial-gradient(#805d78,rgba(0,0,0,0) 70%); 
    }*/
  }

  @media screen and (max-width:1023px) and (min-width:800px ){
    .clipped-border{
      width:150px;
      height:150px;
    }
    
    .clipped-border:nth-child(2){
      top:0;
      left:150px;
    }
    
    .clipped-border:nth-child(3){
      left:300px;
    }
    
    .clipped-border:nth-child(4){
      top:115px;
      left:75px;
    }
    
    .clipped-border:nth-child(5){
      top:115px;
      left:225px;
    }

    /* .shadow{
      position: absolute;
      top: 270px;
      left: 70px;
      width: 300px;
      height: 40px;
      border-radius: 50%;
      background: radial-gradient(#805d78,rgba(0,0,0,0) 70%);
    } */
  }

  @media screen and (max-width:1279px) and (min-width:1024px ){
    .clipped-border{
      width:150px;
      height:150px;
    }
    
    .clipped-border:nth-child(2){
      top:0;
      left:150px;
    }
    
    .clipped-border:nth-child(3){
      left:300px;
    }
    
    .clipped-border:nth-child(4){
      top:115px;
      left:75px;
    }
    
    .clipped-border:nth-child(5){
      top:115px;
      left:225px;
    }

    /* .shadow{
      position: absolute;
      top: 270px;
      left: 70px;
      width: 300px;
      height: 40px;
      border-radius: 50%;
      background: radial-gradient(#805d78,rgba(0,0,0,0) 70%);
    } */
  }  
}
